<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>

<body>
  <header>
    <% include ./partials/_header %>
  </header>
  <ul>
    <% for(var short in urls) { %>
      <% if(urls[short].userID === userId) { %>
        <li>
          <form method="POST" action="/urls/<%= short %>/delete">
            <a href= <%= urls[short].longUrl %>><%= short %></a> <%= ` ->  ${urls[short].longUrl}` %>
            <a href="urls/<%= short %>"> - Edit</a> <!-- original URL, Edit and Delete button only for logged in user -->
            <button type="submit">Delete</button>
          </form>
        </li>
      <% } else { %>
        <li>
          <form>
            <a href= <%= urls[short].longUrl %>><%= short %></a>
          </form>
        </li>
      <% } %>
    <% } %>
  </ul>
  <% if(userId === null || userId === undefined) { %>
    <h2>Please Login or Sign up for your own shortened websites :)</h2>
  <% } %>
  <a href="urls/new">New</a><br/>
  <a href="/">Back to root</a>

</body>
</html>