<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>

<body>
  <header>
    <% include ./partials/_header %>
  </header>
  <ul>
    <% for(var shortURL in urls) { %>
    <li>
      <form method="POST" action="/urls/<%= shortURL %>/delete">
        <a href= <%= urls[shortURL] %>><%= shortURL %></a> <%= ` ->  ${urls[shortURL]}` %>
        <a href="urls/<%= shortURL %>"> - Edit</a>
        <button type="submit">Delete</button>
      </form>
    </li>
    <% } %>
  </ul>
  <a href="urls/new">New</a><br/>
  <a href="/">Back to root</a>

</body>
</html>